node_modules
npm-debug.log*
dist
.git
.gitignore
.env
.env.*
copy.env
*.md
*.pem
coverage
.nyc_output
.vscode
.idea
.DS_Store
test
*.spec.ts
docker-compose*
dockerfile
docker-file
better-auth_migrations
